
*{
    background-color: rgb(33, 33, 110);
    background-size: fill  ;
    color: white;
    padding: 0px 10px;
    margin-left: 10px;
}

h1{
    width: 60%;
}
h2, p{

    width: 60%;
    height: 200px;
}

.button{
    background-color: white;
    border-radius: 5px;
    color: black;
    height: 1cm;
    cursor: pointer;
}