<h1>Child</h1>

    <!-- {{message}} -->
    <ul>
        <li>{{operation.libelle}}</li>
        <li>{{operation1.libelle}}</li>
        <li>{{operation2.libelle}}</li>
        <li>{{operation3.libelle}}</li>
    </ul>
     

<!-- <button (click)="sendMessage()" class="button">Send Message</button> -->
<button (click)="operationClicked()" class="button">Send Op to Parent</button>
<button (click)="operationClicked1()" class="button">Send Op1 to Parent</button>
<button (click)="operationClicked2()" class="button">Send Op2 to Parent</button>
<button (click)="operationClicked3()" class="button">Send Op3 to Parent</button>