
*{
    background-color: lightseagreen;
    background-size: fill  ;
    color: white;
    padding: 0px 10px;
    margin-left: 10px;
}

h1{
    width: 60%;
}
h2{

    width: 60%;
    height: 300px;
}