<!-- <app-parent-input></app-parent-input> -->
<!--<app-parent2></app-parent2>-->
<!-- <app-parent3></app-parent3>-->
<!-- <app-parent4></app-parent4> -->
<!--<app-sibling></app-sibling> -->
<button style="height: 5rem; width: 12rem;margin: 15px;" routerLink="input">Input example</button>
<button style="height: 5rem; width: 12rem;margin: 15px;" routerLink="onChangesInput">onChangesInput example</button>
<button style="height: 5rem; width: 12rem;margin: 15px;" routerLink="outputEventEmit">OutputEventEmit example</button>
<button style="height: 5rem; width: 12rem;margin: 15px;" routerLink="sharedService">sharedService example</button>
<button style="height: 5rem; width: 12rem;margin: 15px;" routerLink="ViewChild">ViewChild example</button>

<div>------------------------------------------------------------------------------------------------------------------------------------------</div>
<router-outlet></router-outlet>
<!-- <app-parent-view></app-parent-view> -->
